<template>
  <div>
    <v-navigation-drawer
      v-if="user"
      permanent
      :mini-variant="fullMenu"
      app
      dark
      color="#222a2e"
    >
      <v-list dense>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.route ? { name: item.route } : null"
          :class="{
            'd-none': !hasPermission(item.perms, user.permissions, user.role),
          }"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar dark app color="#222a2e" v-if="user">
      <v-app-bar-nav-icon @click="fullMenu = !fullMenu"></v-app-bar-nav-icon>
      <v-img
        class="mx-2"
        :src="require('@/assets/logo.png')"
        max-height="36"
        max-width="36"
        contain
      ></v-img>
      <v-toolbar-title>JIHC Booking</v-toolbar-title>
      <v-spacer></v-spacer>
      <div v-if="user">
        <div class="d-flex align-center">
          <v-icon class="pr-2">mdi-account</v-icon>
          <template v-if="user.first_name || user.last_name">
            <b class="mr-3">{{ user.first_name }} {{ user.last_name }}</b>
          </template>
          <template v-else>
            <b class="mr-3">{{ user.username }}</b>
          </template>
          <v-menu left bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>

            <v-list class="pa-0">
              <v-list-item :to="{ name: 'Profile' }">
                <v-list-item-content>
                  <v-list-item-title>
                    <v-icon small color="black" class="mr-1">
                      mdi-account
                    </v-icon>
                    Профиль
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item :to="{ name: 'Password' }">
                <v-list-item-content>
                  <v-list-item-title>
                    <v-icon small color="black" class="mr-1"> mdi-lock </v-icon>
                    Пароль
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="logout">
                <v-list-item-content>
                  <v-list-item-title>
                    <v-icon small color="black" class="mr-1">
                      mdi-logout
                    </v-icon>
                    Выйти
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </div>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: "Menu",
  data() {
    return {
      items: [
        {
          title: "График",
          icon: "mdi-calendar-multiselect",
          route: "Schedule",
          perms: ["booking_list"],
        },
        {
          title: "Пользователи",
          icon: "mdi-account-group",
          route: "Account",
          perms: ["user_list"],
        },
        {
          title: "Группы",
          icon: "mdi-home-group",
          route: "Group",
          perms: ["group_list"],
        },
        {
          title: "Объекты",
          icon: "mdi-soccer-field",
          route: "Object",
          perms: ["object_list"],
        },
        {
          title: "Лог",
          icon: "mdi-math-log",
          route: "Log",
          perms: ["log_list"],
        },
        {
          title: "Рабочие часы",
          icon: "mdi-clock-outline",
          route: "BusinessHour",
        },
        {
          title: "Аналитика",
          icon: "mdi-poll",
          route: "Analytics",
          perms: ["analytic_list"],
        },
      ],
      fullMenu: true,
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("user/logoutUser", {}, { root: true });
      this.$router.push({ name: "Login" });
    },
  },
  computed: {
    user() {
      return this.$store.getters["user/user"];
    },
  },
};
</script>

<style scoped>
.v-navigation-drawer {
  height: calc(100vh - 64px) !important;
  top: 64px !important;
}
.v-app-bar {
  left: 0 !important;
}
</style>
