<template>
  <div>
    <v-dialog v-model="operation.create" max-width="800">
      <v-card>
        <v-card-title>
          <span class="text-h6">Создание</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="py-4">
          <v-form ref="formCreate">
            <v-row>
              <v-col cols="12" class="py-0">
                <v-text-field
                  v-model="form.create.title"
                  label="Название группы"
                  :rules="[rules.required]"
                  clearable
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="py-0">
                <v-autocomplete
                  v-model="form.create.teacher"
                  :items="handbook.teacher"
                  label="Учитель"
                  item-text="full_name"
                  item-value="id"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="py-0">
                <v-autocomplete
                  v-model="form.create.mentor_for_boys"
                  :items="handbook.abi"
                  label="abi"
                  item-text="full_name"
                  item-value="id"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="py-0">
                <v-autocomplete
                  v-model="form.create.mentor_for_girls"
                  :items="handbook.abla"
                  label="Abla"
                  item-text="full_name"
                  item-value="id"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            class="btn-text mr-2"
            text
            @click="operation.create = false"
          >
            <v-icon small class="mr-1">mdi-close</v-icon>
            Отменить
          </v-btn>
          <v-btn
            color="primary"
            class="btn-text"
            dark
            @click="handlerCreateElement"
          >
            <v-icon small class="mr-1">mdi-check-all</v-icon>
            Создать
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="operation.update" max-width="800">
      <v-card>
        <v-card-title>
          <span class="text-h6">Редактирование</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="py-4">
          <v-form ref="formUpdate">
            <v-row>
              <v-col cols="12" class="py-0">
                <v-text-field
                  v-model="form.update.title"
                  label="Название группы"
                  :rules="[rules.required]"
                  clearable
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="py-0">
                <v-autocomplete
                  v-model="form.update.teacher"
                  :items="handbook.teacher"
                  label="Учитель"
                  item-text="full_name"
                  item-value="id"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="py-0">
                <v-autocomplete
                  v-model="form.update.mentor_for_boys"
                  :items="handbook.abi"
                  label="abi"
                  item-text="full_name"
                  item-value="id"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="py-0">
                <v-autocomplete
                  v-model="form.update.mentor_for_girls"
                  :items="handbook.abla"
                  label="Abla"
                  item-text="full_name"
                  item-value="id"
                  :rules="[rules.required]"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            class="btn-text mr-2"
            text
            @click="operation.update = false"
          >
            <v-icon small class="mr-1">mdi-close</v-icon>
            Отменить
          </v-btn>
          <v-btn
            color="primary"
            class="btn-text"
            dark
            @click="handlerUpdateElement"
          >
            <v-icon small class="mr-1">mdi-check-all</v-icon>
            Сохранить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="operation.delete" max-width="400">
      <v-card>
        <v-card-title>
          <span class="text-h6">Удаление</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="py-4">
          Вы действительно хотите удалить "{{ form.delete.title }}"?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            class="btn-text mr-2"
            text
            @click="operation.delete = false"
          >
            <v-icon small class="mr-1">mdi-close</v-icon>
            Отменить
          </v-btn>
          <v-btn
            color="primary"
            class="btn-text"
            dark
            @click="handlerDeleteElement"
          >
            <v-icon small class="mr-1">mdi-delete-forever</v-icon>
            Удалить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="operation.return" max-width="400">
      <v-card>
        <v-card-title>
          <span class="text-h6">Возврат</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="py-4">
          Вы действительно хотите вернуть "{{ form.return.title }}"?
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            class="btn-text mr-2"
            text
            @click="operation.return = false"
          >
            <v-icon small class="mr-1">mdi-close</v-icon>
            Отменить
          </v-btn>
          <v-btn
            color="primary"
            class="btn-text"
            dark
            @click="handlerReturnElement"
          >
            <v-icon small class="mr-1">mdi-replay</v-icon>
            Вернуть
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <h2 class="text-center mb-4">Группы</h2>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Поиск"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer />
        <v-spacer />
        <v-spacer />
        <v-btn
          color="primary"
          class="btn-text"
          @click="createElement"
          v-if="
            user && hasPermission(['group_create'], user.permissions, user.role)
          "
        >
          <v-icon small class="mr-1">mdi-plus</v-icon>
          Создать
        </v-btn>
      </v-card-title>
      <v-data-table :headers="headers" :items="elements" :search="search">
        <template v-slot:item.teacher="{ item }">
          {{ item.teacher["first_name"] }}
          {{ item.teacher["last_name"] }}
        </template>

        <template v-slot:item.mentor_for_boys="{ item }">
          {{ item["mentor_for_boys"]["first_name"] }}
          {{ item["mentor_for_boys"]["last_name"] }}
        </template>

        <template v-slot:item.mentor_for_girls="{ item }">
          {{ item["mentor_for_girls"]["first_name"] }}
          {{ item["mentor_for_girls"]["last_name"] }}
        </template>

        <template v-slot:item.is_active="{ item }">
          <template v-if="item['is_active']">
            <span class="green--text"> Активный </span>
          </template>
          <template v-else>
            <span class="red--text"> Не активный </span>
            <br />
            <small>
              <em>Дата удаления: {{ item["deleted_on"] }}</em>
            </small>
          </template>
        </template>

        <template v-slot:item.created_by="{ item }">
          <template v-if="item['created_by']">
            <template
              v-if="
                item['created_by']['first_name'] ||
                item['created_by']['last_name']
              "
            >
              {{ item["created_by"]["first_name"] }}
              {{ item["created_by"]["last_name"] }}
              ({{ item["created_by"].email }})
            </template>
            <template v-else>
              {{ item["created_by"].email }}
            </template>
          </template>
        </template>

        <template v-slot:item.actions="{ item }">
          <div class="text-no-wrap">
            <v-tooltip
              bottom
              v-if="
                user &&
                hasPermission(['group_update'], user.permissions, user.role)
              "
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  @click="updateElement(item)"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <span>Редактирование</span>
            </v-tooltip>
            <template v-if="item['is_active']">
              <v-tooltip
                bottom
                v-if="
                  user &&
                  hasPermission(['group_delete'], user.permissions, user.role)
                "
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    @click="deleteElement(item)"
                    color="red"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon>mdi-delete-forever</v-icon>
                  </v-btn>
                </template>
                <span>Удаление</span>
              </v-tooltip>
            </template>
            <template v-else>
              <v-tooltip
                bottom
                v-if="
                  user &&
                  hasPermission(['group_update'], user.permissions, user.role)
                "
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    @click="returnElement(item)"
                    color="black"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon>mdi-replay</v-icon>
                  </v-btn>
                </template>
                <span>Возврат</span>
              </v-tooltip>
            </template>
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Group",
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Группа",
          align: "left",
          value: "title",
        },
        {
          text: "Учитель",
          align: "left",
          value: "teacher",
        },
        {
          text: "Аби",
          align: "left",
          value: "mentor_for_boys",
        },
        {
          text: "Абла",
          align: "left",
          value: "mentor_for_girls",
        },
        {
          text: "Автор",
          align: "left",
          value: "created_by",
        },
        {
          text: "Дата создания",
          align: "left",
          value: "created_on",
        },
        {
          text: "Дата редактирования",
          align: "left",
          value: "edited_on",
        },
        {
          text: "Статус",
          align: "left",
          value: "is_active",
        },
        {
          text: "Действия",
          align: "right",
          value: "actions",
          sortable: false,
        },
      ],
      elements: [],
      form: {
        create: {
          title: "",
          teacher: null,
          mentor_for_boys: null,
          mentor_for_girls: null,
        },
        update: {
          id: "",
          title: "",
          teacher: null,
          mentor_for_boys: null,
          mentor_for_girls: null,
        },
        delete: {
          id: "",
          title: "",
        },
        return: {
          id: "",
          title: "",
        },
      },
      handbook: {
        teacher: [],
        abi: [],
        abla: [],
      },
      operation: {
        create: false,
        update: false,
        delete: false,
        return: false,
      },
      rules: {
        required: (value) => !!value || "Обязательное поле",
      },
    };
  },
  methods: {
    loadData() {
      const loader = this.$loading.show(this.$loadingParams);
      this.$restApi
        .get(`handbook/group`)
        .then((response) => {
          if (response.status === 200) {
            this.elements = response.data;
          }
          loader.hide();
        })
        .catch((error) => {
          console.log(error);
          loader.hide();
        });
    },

    createElement() {
      this.operation.create = true;
      this.form.create = {
        title: "",
        teacher: null,
        mentor_for_boys: null,
        mentor_for_girls: null,
      };
    },
    handlerCreateElement() {
      if (!this.$refs.formCreate.validate()) {
        this.$store.dispatch("snackbar/setStatus", true);
        this.$store.dispatch(
          "snackbar/setText",
          `Пожалуйста, исправьте ошибки!`
        );
      } else {
        const loader = this.$loading.show(this.$loadingParams);
        this.$restApi
          .post(`/handbook/group`, {
            title: this.form.create.title,
            teacher: this.form.create.teacher,
            mentor_for_boys: this.form.create.mentor_for_boys,
            mentor_for_girls: this.form.create.mentor_for_girls,
          })
          .then((response) => {
            if (response.status === 201) {
              this.$store.dispatch("snackbar/setStatus", true);
              this.$store.dispatch("snackbar/setText", `Успешно`);
              loader.hide();

              this.operation.create = false;

              this.loadData();
            } else {
              loader.hide();
            }
          })
          .catch((error) => {
            if (error.response) {
              if (error.response.status === 400) {
                let errorText = [];
                let fields = Object.keys(error.response.data);
                for (let i = 0; i < fields.length; i++) {
                  errorText.push(
                    "<b>" +
                      fields[i] +
                      "</b>: " +
                      error.response.data[fields[i]].join(", ")
                  );
                }
                this.$store.dispatch("snackbar/setStatus", true);
                this.$store.dispatch(
                  "snackbar/setText",
                  errorText.join("<br />")
                );
              }
            }
            loader.hide();
          });
      }
    },

    updateElement(item) {
      this.operation.update = true;
      this.form.update = {
        id: item.id,
        title: item.title,
        teacher: item.teacher.id,
        mentor_for_boys: item.mentor_for_boys.id,
        mentor_for_girls: item.mentor_for_girls.id,
      };
    },
    handlerUpdateElement() {
      if (!this.$refs.formUpdate.validate()) {
        this.$store.dispatch("snackbar/setStatus", true);
        this.$store.dispatch(
          "snackbar/setText",
          `Пожалуйста, исправьте ошибки!`
        );
      } else {
        const loader = this.$loading.show(this.$loadingParams);
        this.$restApi
          .put(`/handbook/group/${this.form.update.id}`, {
            title: this.form.update.title,
            teacher: this.form.update.teacher,
            mentor_for_boys: this.form.update.mentor_for_boys,
            mentor_for_girls: this.form.update.mentor_for_girls,
          })
          .then((response) => {
            if (response.status === 200) {
              this.$store.dispatch("snackbar/setStatus", true);
              this.$store.dispatch("snackbar/setText", `Успешно`);
              loader.hide();

              this.operation.update = false;

              this.loadData();
            } else {
              loader.hide();
            }
          })
          .catch((error) => {
            if (error.response) {
              if (error.response.status === 400) {
                let errorText = [];
                let fields = Object.keys(error.response.data);
                for (let i = 0; i < fields.length; i++) {
                  errorText.push(
                    "<b>" +
                      fields[i] +
                      "</b>: " +
                      error.response.data[fields[i]].join(", ")
                  );
                }
                this.$store.dispatch("snackbar/setStatus", true);
                this.$store.dispatch(
                  "snackbar/setText",
                  errorText.join("<br />")
                );
              }
            }
            loader.hide();
          });
      }
    },

    deleteElement(item) {
      this.operation.delete = true;
      this.form.delete = {
        id: item.id,
        title: item.title,
      };
    },
    handlerDeleteElement() {
      const loader = this.$loading.show(this.$loadingParams);
      this.$restApi
        .delete(`/handbook/group/${this.form.delete.id}`)
        .then((response) => {
          if (response.status === 204) {
            this.$store.dispatch("snackbar/setStatus", true);
            this.$store.dispatch("snackbar/setText", `Успешно`);
            loader.hide();

            this.operation.delete = false;

            this.loadData();
          } else {
            loader.hide();
          }
        })
        .catch((error) => {
          console.log(error);
          loader.hide();
        });
    },

    returnElement(item) {
      this.operation.return = true;
      this.form.return = {
        id: item.id,
        title: item.title,
      };
    },
    handlerReturnElement() {
      const loader = this.$loading.show(this.$loadingParams);
      this.$restApi
        .put(`/handbook/group/${this.form.return.id}`, {
          is_active: true,
          deleted_on: null,
        })
        .then((response) => {
          if (response.status === 200) {
            this.$store.dispatch("snackbar/setStatus", true);
            this.$store.dispatch("snackbar/setText", `Успешно`);
            loader.hide();

            this.operation.return = false;

            this.loadData();
          } else {
            loader.hide();
          }
        })
        .catch((error) => {
          console.log(error);
          loader.hide();
        });
    },
  },
  mounted() {
    this.loadData();

    // load teacher
    this.$restApi
      .get("account/?type=teacher")
      .then((response) => {
        if (response.status === 200) {
          this.handbook.teacher = [];
          for (let i = 0; i < response.data.length; i++) {
            this.handbook.teacher.push({
              id: response.data[i].id,
              full_name:
                response.data[i]["first_name"] +
                " " +
                response.data[i]["last_name"],
            });
          }
        }
      })
      .catch((error) => {
        console.log(error);
      });

    // load abi
    this.$restApi
      .get("account/?type=abi")
      .then((response) => {
        if (response.status === 200) {
          this.handbook.abi = [];
          for (let i = 0; i < response.data.length; i++) {
            this.handbook.abi.push({
              id: response.data[i].id,
              full_name:
                response.data[i]["first_name"] +
                " " +
                response.data[i]["last_name"],
            });
          }
        }
      })
      .catch((error) => {
        console.log(error);
      });

    // load able
    this.$restApi
      .get("account/?type=abla")
      .then((response) => {
        if (response.status === 200) {
          this.handbook.abla = [];
          for (let i = 0; i < response.data.length; i++) {
            this.handbook.abla.push({
              id: response.data[i].id,
              full_name:
                response.data[i]["first_name"] +
                " " +
                response.data[i]["last_name"],
            });
          }
        }
      })
      .catch((error) => {
        console.log(error);
      });
  },
  computed: {
    user() {
      return this.$store.getters["user/user"];
    },
  },
};
</script>

<style scoped></style>
